UAC still sends ICE in SDP when ICE setting is OFF - call fails (OSX)

media does not flow because call is inhibited by ICE parameters in SDP. 

Client: Net -> NAT -> Enable ICE -> OFF

Disable ICE at proxy - call completes. 
Enable ICE at proxy - no audio in either direction. 

Captures show linphone does not send audio if proxy has ICE ON. 

This problem is avoided by client not sending ICE params, when UAC ICE setting is OFF. Do not try to be smart. Do not try NAT things. UAC ICE setting is OFF? Don't send ICE. 

[linphone1_proxy_no_ICE_good_call.log.txt](https://github.com/BelledonneCommunications/linphone-desktop/files/1278310/linphone1_proxy_no_ICE_good_call.log.txt)
[linphone1_proxy_ICE_bad_call.log.txt](https://github.com/BelledonneCommunications/linphone-desktop/files/1278311/linphone1_proxy_ICE_bad_call.log.txt)




This also has the effect of the linphone client getting confused as to its IP - it disregards the ICE setting, checks its WAN IP with linphone STUN server, and included that in the SDP. When the SDP arrives at the SIP/ICE proxy (which is also gateway) the proxy is responsible for the WAN ports in the SDP (which linphone included), and the port that linphone chooses for media is subsequently denied. 

I am not part of Belledonne Communications but an end-user like you. Today, the same bug caught me and I am able to confirm your reported issue. Not a solution either but at least as workaround, I

1. opened the invisible file `~/.config/linphone/linphonerc`, and
2. changed each `nat_policy_ref` to the value of `ref` in the section `[nat_policy_0]`.

After that, the GUI can be used to change the NAT policies as expected.

Not sure, if that file is at the same location in Apple macOS. Please, report! Furthermore, in my case, I know why ICE fails. In my and your case, ICE was the originating cause which uncovered this bug here. Therefore, I wonder why ICE fails in your case. Perhaps another bug is lurking around. As remote party, you are using a desktop phone from Snom with firmware 8.7. What happens, after upgrading to the latest firmware 8.9? Or is this a problem of your SIP proxy/gateway – which one do you use?

> [Currently, Linphone] checks its WAN-IP with [the help of the] STUN server [of Belledonne Communications `stun.linphone.org` *always*] and includes that [WAN-IP] in the SDP.

Are you about that *two* connection informations `c=IN` in your SDP? Actually, that is a feature of ICE because Linphone defaults to the server-reflexive candidates `srflx`, see [RFC 5245 section 4.1.4](http://tools.ietf.org/html/rfc5245#section-4.1.4). Because of ICE, Linphone uses different IP addresses for the session-level and the media-level. That creates those two `c=IN` lines. Many SIP proxy implementation do not cope with that and ignore the media-level. One solution would be to use the ICE result for both levels, session and media. Another solution would be to look into your SIP proxy to double check if anything can be done there. Therefore: Who made your SIP proxy/gateway?

Or does your SIP proxy/gateway have issues with that WAN-IP because you are connected to a SIP proxy directly in your local private network? Or stated differently: Are you using not a full-qualified domain name (FQDN) but a private IP address for Linphone Desktop → Preferences → SIP accounts → Proxy accounts → Edit → SIP Server address?

Interesting. 

Using an FQDN to register, we have split-horizon DNS, and some IPv4/6 traversal points. Our SIP proxy (ALG) has issues with the WAN IP, because it is responsible for the WAN IP itself. It is the Firewall and SIP proxy. Whichever client answers, is largely irrelevant - when the Linphone UAC sends ICE candidates for the WAN IP for which it has no authority (despite the GUI saying it's off) the call immediately has no media and the receiving UAS hangs up, since no media permeates due to the erroneous ICE rows. 

Our SIP proxy is able to differentiate the two c= rows. 

I tried your adjustments - good find. My config file is located:

~/Library/Preferences/linphone

I tried the edits as described above, and ICE candidates no longer appear in the SDP.  So that works.  Thank you. 



> This problem is avoided by client not sending ICE params, when UAC ICE setting is OFF. Do not try to be smart. Do not try NAT things. UAC ICE setting is OFF? Don't send ICE.

I like smart things. If ICE is disabled or enabled globally, the ICE parameters of each proxy account are used. It's not a bug. It's an override feature of parameters.

This is a bug. You did not understand the issue.
Please, ask questions, so we know what is the misunderstanding and can help you to understand the issue.

 A bug is, by definition, a bug when the software does not behave as the user expects. The user expects the client not to send ICE parameters, the user wants the client not to send ICE parameters, but the client sends ICE parameters. The developer does not understand how they cannot see his or her vision of utopia. 

I want to be ABLE TO DISABLE ICE. The software is not as smart as the gateway device. :(

[relevant image](https://modeling-languages.com/wp-content/uploads/2012/06/users.jpg)


Actually, through the other user comments above I was able to find a workaround - which proved that even through GLOBALLY disabling ICE, ICE was still (somehow magically) used on a per account basis. But going into account preference, there is NO ICE parameter in the GUI - but editing some dark and hidden config file somewhere takes effect, so:

please give the accounts config an ICE ON/OFF toggle, pretty please.

ICE settings are available on master now: 986f5d9902a8544342de809ad5bb2bd8c95ee7ba